<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>webtest</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodListServlet</display-name>
    <servlet-name>FoodListServlet</servlet-name>
    <servlet-class>servlet.FoodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodListServlet</servlet-name>
    <url-pattern>/FoodListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeListServlet</display-name>
    <servlet-name>FoodTypeListServlet</servlet-name>
    <servlet-class>servlet.FoodTypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeListServlet</servlet-name>
    <url-pattern>/FoodTypeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFoodByIdServlet</display-name>
    <servlet-name>GetFoodByIdServlet</servlet-name>
    <servlet-class>servlet.GetFoodByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFoodByIdServlet</servlet-name>
    <url-pattern>/GetFoodByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSubscribeServlet</display-name>
    <servlet-name>RemoveSubscribeServlet</servlet-name>
    <servlet-class>servlet.RemoveSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSubscribeServlet</servlet-name>
    <url-pattern>/RemoveSubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFoodServlet</display-name>
    <servlet-name>EditFoodServlet</servlet-name>
    <servlet-class>servlet.EditFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFoodServlet</servlet-name>
    <url-pattern>/EditFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubscribeServlet</display-name>
    <servlet-name>AddSubscribeServlet</servlet-name>
    <servlet-class>servlet.AddSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubscribeServlet</servlet-name>
    <url-pattern>/AddSubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodAddServlet</display-name>
    <servlet-name>FoodAddServlet</servlet-name>
    <servlet-class>servlet.FoodAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodAddServlet</servlet-name>
    <url-pattern>/FoodAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>